modules = ["angular-node-20", "bash", "bun-1.0", "bun-1.1", "bun-1.2", "c-clang14", "clojure-1.12", "cpp-clang14", "dart-2.18", "dart-3.5", "deno-1", "deno-2", "docker", "dotnet-7.0", "dotnet-8.0", "elixir-1_15", "elixir-1_17", "gcloud", "go-1.19", "go-1.20", "go-1.21", "go-1.23", "haskell-ghc9.0", "haskell-ghc9.4", "haskell-ghc9.6", "hermit-0.38.2", "java-graalvm22.3", "lua-5.2", "nix", "nodejs-14", "nodejs-18", "nodejs-19", "nodejs-20", "nodejs-22", "nodejs-23", "php-8.1", "php-8.2", "postgresql-16", "postgresql-17", "pyright-extended", "python-3.10", "python-3.12", "python-3.8", "python-3.9", "python-base-3.11", "python-base-3.12", "python-with-prybar-3.10", "qbasic", "r-4.2", "r-4.4", "replit-rtld-loader", "ruby-3.1", "ruby-3.2", "ruff", "rust-nightly", "svelte-kit-node-20", "swift-5.6", "typescript-language-server", "vue-node-18", "vue-node-20", "web", "zig-0.11"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick_light"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41747428
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run install-deps"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 43087
externalPort = 3000

[deployment]
run = ["sh", "-c", "serve -s -l 0.0.0.0:5000 ."]
